<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-slides pager="true" [options]="slideOpts" mode='ios' scrollbar='false'>
      <ion-slide>
        <img src="../../assets/imgs-icons/ventanas.svg" alt="windows">
        
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs-icons/manzana.svg" alt="manzana">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs-icons/linux.svg" alt="linux">
      </ion-slide>
    </ion-slides>


</ion-content>